@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import "tailwindcss";

:root {
  --white: #ffffff;

  --dark: #101014;
  --bg-mid-dark: #28282c;
  --text-mid-dark: #3d3d47;
  --text-light: #d0d1db;

  --bg-mid-light: #e9ecf2;
  --bg-light: #fafafa;

  --border-dark: #222222;
  --border-mid: #dbdad9;
  --border-light: #e6e6e6;

  --error: #ff2244;

  --link-light: #d0d1db;
  --link-white: #ffffff;

  --font-sans: "Manrope", system-ui, sans-serif;
}

@layer base {
  html,
  body {
    width: 100%;
    font-family: var(--font-sans);
    background-color: var(--bg-light);
    color: var(--dark);
    scroll-behavior: smooth;
    overflow-x: hidden;
  }

  body {
    @apply antialiased;
  }

  a {
    color: var(--link-light);
  }

  a:hover {
    color: var(--link-white);
  }
}

@layer utilities {
  .bg-dark {
    background-color: var(--dark);
  }

  .bg-mid {
    background-color: var(--bg-mid-dark);
  }

  .border-dark {
    border-color: var(--border-dark);
  }

  .border-mid {
    border-color: var(--border-mid);
  }

  .border-light {
    border-color: var(--border-light);
  }

  .text-error {
    color: var(--error);
  }
}

@layer base {
  h1 {
    font-size: 58px;
    font-weight: 500;
  }

  h2 {
    font-size: 16px;
    font-weight: 500;
  }

  h3 {
    font-size: 50px;
    font-weight: 500;
  }

  h4 {
    font-size: 42px;
    font-weight: 500;
  }

  .h4-accordion-title {
    font-size: 42px;
    font-weight: 500;
  }

  .h4-static-title {
    font-size: 42px;
    font-weight: 600;
  }

  .h4-footer-title {
    font-size: 24px;
    font-weight: 500;
  }

  .p-body-m {
    font-size: 18px;
    font-weight: 400;
  }

  .p-body-s {
    font-size: 16px;
    font-weight: 400;
  }

  .p-intro {
    font-size: 22px;
    font-weight: 400;
  }

  .p-menu-item {
    font-size: 18px;
    font-weight: 500;
  }

  .p-form-label {
    font-size: 16px;
    font-weight: 500;
  }

  .p-notification-badge {
    font-size: 14px;
    font-weight: 400;
  }

  .p-button-text {
    font-size: 16px;
    font-weight: 500;
  }

  .p-button-text-sm {
    font-size: 14px;
    font-weight: 500;
  }

  .p-quote {
    font-size: 20px;
    font-weight: 400;
  }

  .p-contact-label {
    font-size: 18px;
    font-weight: 600;
  }
}
